<a href="https://colab.research.google.com/github/krishkumar2006/Python-Class-Assignments/blob/main/python_assign_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Basic list operations
#1 create a list and append a new number to it
number = [1 , 2 , 3 , 4 , 5]
number.append(6)
print(number) #return new list

In [ ]:
#2 Extend list with another
num1 = [1 , 2 , 3]
num2 = [4 , 5 , 6 , 7 ]
num1.extend(num2)
print(num1)

In [ ]:
#3 Insert the string "python" at index 2 in the list
languages = ["java", "C++", "javascript" , "Ruby" ]
languages.insert(2 , "python")
print(languages)

In [ ]:
#4 Remove the first occurance of the number in the list
num_list = [10 , 20 , 30 , 40]
num_list.remove(10)
print(num_list) # 10 will remove and return new list

In [ ]:
#5 pop will remove the last element in the list
pop_list = [100 , 200 , 300 , 400 ]
pop_list.pop()
print(pop_list)

In [ ]:
#Intermediate List operations

#6 Count how many times the number 5 appear in the list
Number = [5, 10, 5, 20, 5, 30]
Count = Number.count(5)
print(Count)

In [ ]:
#7 Assending order
Ascending = ["A" , "Z" , "S", "C"]
Ascending.sort()
print(Ascending) # Ascending order

#8 Desending order
Decending = ["A" , "Z" , "S", "C"]
Decending.sort(reverse=True)
print(Decending) #Decending order

In [ ]:
#9 create a copy of a list , store in to variable , modify it and print both listt
Original_list = ["I will start learning python"]
Copy_list = Original_list.copy()
Copy_list.append("but from Tomorrow \U0001F60A")
print(Original_list)
print(Copy_list)

In [ ]:
#10 Clear the list
Clear_list =  ["hello", "world", "python"]
Clear_list.clear()
print(Clear_list)

In [ ]:
#Tuple Based Questions

#11 Create a tuple of five different fruits and print the third one
Tuple = ("Apple" , "Banana" , "Grapes" , "Mango" , "Watermelon")
print(Tuple[2])

In [ ]:
#12 Create a tuple
My_Tuple =  (10, 20, 30, 40, 50)

#convert tuple into list
My_List = list(My_Tuple)

#Remove 30 from the list
My_List.remove(30)

#Convert back into tuple
My_Tuple = tuple(My_List)

#print tuple
print(My_Tuple)

In [ ]:
#Tuple donot support append method . Tuples are immutable. So i will show error if we go through this method
# Tup = ("A" , "B" , "C" )
# Tup.append("D")
# print(Tup)

#13 Here is an indirect method to modify tuple
Tup = ("A" , "B" , "C" )
Tup = Tup + ("D",)
print(Tup)

In [ ]:
#14 Unpack the tuples into 3 different variables and print them
Unpack = (100 , 200 , 300)
a, b, c = Unpack
print(a, b, c)

In [ ]:
#15 Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).
My_Tuple = (7, 1, 7, 3, 7, 5)
Count = My_Tuple.count(7)
print(Count)

In [ ]:
#16 Create a function and return odd number from list
def return_odd_number(List):
    return[num for num in List if num % 2 != 0]

My_List = [4 , 7 , 9 , 32 , 55]
print(return_odd_number(My_List))

In [ ]:
# 17. Create a function that accepts a list and returns a new list with elements sorted in
# descending order without using the sort() method.
def Des(List):
    return sorted(List, reverse=True)

My_List = [1 , 3 , 5  , 7 , 9]
print(Des(My_List))

In [ ]:
#18  Given a list of numbers, write a program to remove all duplicate elements and print the unique elements.
Duplicate = [1 ,3 ,5 , 6,  7, 8 ,4 , 5 ,3 ,2  ]

unique_elements = set()

for num in number:
    unique_elements.add(num)

print(unique_elements)

In [ ]:
#19  Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert it into a list, remove duplicates, and convert it back to a tuple.

My_Tuple = ("Alice", "Bob", "Charlie", "Alice", "David")


#convert tuples into list
My_List = list(My_Tuple)

#Remove duplicate from the list using set , and then back to list
My_List = list(set(My_List))

#using sort so that element remain in sequence
My_List.sort()

#Converting back to tuples
My_Tuple = tuple(My_List)

print(My_Tuple)

In [ ]:
#20 Create a program that takes a list of mixed data types (int, str, float) and separates integers into one list, strings into another, and floats into another.
def separate_data_list(mixed_list):
    integer_list = []
    string_list = []
    Float_list = []

    for item in mixed_list:
        if isinstance(item , int):
            integer_list.append(item)
        elif isinstance(item , str):
            string_list.append(item)
        elif isinstance(item , float):
            Float_list.append(item)

    return integer_list, Float_list, string_list

Mixed_Data = ["A" , 70 , "python" , 0.33, "initiative" , "mango" , 33 , 332.33333]

integers , Float , string = separate_data_list(Mixed_Data)

print("integers", integers)
print("string", string)
print("Float", Float)

integers [70, 33]
string ['A', 'python', 'initiative', 'mango']
Float [0.33, 332.33333]